
<!--header start-->
<main-header></main-header>
<!--header end-->



<section id="contact" ng-controller="contactusCtrl" ng-init="initData();">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1 class="h1">Send us a message</h1>
                <div class="greyboxing">
                    <form class="contact-form" id="contactUsFrm" name="contactUsFrm" novalidate="novalidate" data-ng-submit="doValidateContactUs(contactUsFrm.$valid);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="First Name" name="firstname" 
                                           ng-model="contactusObj.firstname" required/>
                                    <div ng-class="{ 'has-error' : contactUsFrm.firstname.$invalid && contactUsFrm.firstname.$dirty }">
                                        <p ng-show="(contactUsFrm.firstname.$error.required && contactUsFrm.firstname.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.firstname.$error.required)" class="cls_input_error">
                                            Please enter first name.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="Last Name" name="lastname" 
                                           ng-model="contactusObj.lastname" required/>
                                    <div ng-class="{ 'has-error' : contactUsFrm.lastname.$invalid && contactUsFrm.lastname.$dirty }">
                                        <p ng-show="(contactUsFrm.lastname.$error.required && contactUsFrm.lastname.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.lastname.$error.required)" class="cls_input_error">
                                            Please enter last name.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="Subject" name="subject" 
                                           ng-model="contactusObj.subject" required/>
                                    <div ng-class="{ 'has-error' : contactUsFrm.subject.$invalid && contactUsFrm.subject.$dirty }">
                                        <p ng-show="(contactUsFrm.subject.$error.required && contactUsFrm.subject.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.subject.$error.required)" class="cls_input_error">
                                            Please enter subject.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" autocomplete="off" placeholder="E-mail" name="email" 
                                           ng-model="contactusObj.email" required/>
                                    <div ng-class="{ 'has-error' : contactUsFrm.email.$invalid && contactUsFrm.email.$dirty }">
                                        <p ng-show="(contactUsFrm.email.$error.required && contactUsFrm.email.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.email.$error.required)" class="cls_input_error">
                                            Please enter email.
                                        </p>
                                        <p ng-show="contactUsFrm.email.$error.email && contactUsFrm.email.$dirty" class="cls_input_error">
                                            Please enter valid email.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="Phone Number" name="phone" 
                                           ng-model="contactusObj.phone" required/>
                                    <div ng-class="{ 'has-error' : contactUsFrm.phone.$invalid && contactUsFrm.phone.$dirty }">
                                        <p ng-show="(contactUsFrm.phone.$error.required && contactUsFrm.phone.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.phone.$error.required)" class="cls_input_error">
                                            Please enter phone.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control textarea" rows="3" placeholder="Message" name="body" 
                                              ng-model="contactusObj.body" required></textarea>
                                    <div ng-class="{ 'has-error' : contactUsFrm.body.$invalid && contactUsFrm.body.$dirty }">
                                        <p ng-show="(contactUsFrm.body.$error.required && contactUsFrm.body.$dirty) || (!contactusObj.isFrmInvalid && contactUsFrm.body.$error.required)" class="cls_input_error">
                                            Please enter message.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn main-btn pull-right" ng-show="showActContactUsBtn">Submit</button>
                                <button type="button" class="btn main-btn pull-right" ng-hide="showActContactUsBtn">
                                    Please Wait <i class="fa fa-spin fa-spinner"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h1 class="h1">Get in touch</h1>
                <div> <a href="https://twitter.com/rc9dotco"> <img src="assets/img/social/twitterbtn.png" class="rc9social"> </a> </div>
                <div> <a href="https://www.instagram.com/rc9.co/"> <img src="assets/img/social/instagram.png" class="rc9social"> </a> </div>
                <div> <a href="https://www.facebook.com/RC9.co/"> <img src="assets/img/social/facebook.png" class="rc9social"> </a> </div>
                <div> <a href="https://www.linkedin.com/company/4808505"> <img src="assets/img/social/linkedIn.png" class="rc9social"> </a> </div>
                <div> <a href="#" ng-click="showSignUp();" atag><img src="assets/img/rc9contactusmoto.png" alt="" /></a></div>
            </div>
        </div>
    </div>
</section>
<login-modal-view></login-modal-view>
<signup-modal-view></signup-modal-view>
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->
 <toaster-container></toaster-container>