<div class="modal fade" id="refresh-search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-2">
                    <div class="panel panel-default"> 
                        <!--<div class="panel-heading" align="center"> <strong> Sign in to continue</strong> </div>-->
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <p>
                                                We're sorry, this page has expired. Click to 'continue' to search again.
                                            </p>
                                        </div>

                                        <div class="form-group" align="center">
                                            <button type="submit" class="cls_custom_btn" ng-click="continueToSearch();" >
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>