<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <div class="card card-container">
              <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
              <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
              <p id="profile-name" class="profile-name-card"></p>
              <div *ngIf="showError" >
                <div class="alert alert-danger">
                  <strong>Error!</strong> {{error}}
                </div>
              </div>
          
              <form class="form-signin" (ngSubmit)="onSignin(f)" #f="ngForm">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" name="email" ngModel placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" name="password" ngModel placeholder="Password" required>
                <div id="remember" class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
          
                <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!f.valid" type="submit">Sign in</button>
              </form>
              <!-- /form -->
          
              <a routerLink="/signup" class="text-center">
                          Create Account
                      </a>
            </div>
            <!-- /card-container -->
          </div>
          <!-- /container -->
        </div>
      </div>
    </div>
