
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
 <div class="container">
  <div class="about main wrapper clearfix">
   <div class="clearfix"><!-- clear --></div>
   <div class="generalPage ng-scope">
    <div class="content">
        <div class="box-inner clearfix">
            <h1 class="title" id="registrationThankYouMessage">
                Thank you for registering with PassedOn.com
            </h1>

            <p><strong>Your account has been created and a verification email has been sent to your registered email
                    address.</strong></p>

            <p>Please click on the verification link included in your email to activate your account.

                Your account will not be activated until you verify your email address.</p>

            <p><sub>Having trouble accessing your account? Please contact <a [routerLink]="['/support']">Support.</a></sub></p>

        </div>
    </div>
</div>
  </div>
 </div>