<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="main-content dashboard-top-margin">
    <div class="content-container clearfix">
        <div class="searchTributeResultsPage">
            <div class="page-intro">
                <h2>
                    <i class="fa fa-search"></i> Search Tribute Results</h2>
                <div>
                    <p class="searched-term ng-binding">
                        {{total_count}} result found for: 
                        <span *ngIf="search_type=='simple'">"{{tribute_search_keyword}}"</span>
                        <span  *ngIf="search_type!='simple'">"{{search.keyword}}"</span>
                    </p>
                    <!-- <p class="searched-term">Returned {{total_count}} result</p> -->
                </div>
                <p>Didn't find what you were looking for?
                    <a #myDiv id="a_advanced_search" style="cursor:pointer" href="javascript:void(0);" (click)="openSearch(model_advancedsearch);">Advanced Search</a>...</p>
            </div>
            <div id="container">

                <div class="item l" *ngFor="let item of tributeList">
                    <ul class="searched-tribute-profile clearfix">
                        <li>
                            <a>
                                <img *ngIf="item.original_cover_image" onError="this.src='./assets/img/profile-placeholder.jpg'" src="{{item.original_cover_image}}" alt="" class="img-responsive" width="140" />
                                <img *ngIf="!item.original_cover_image" src="./assets/img/profile-placeholder.jpg" alt="" class="img-responsive" width="140" />
                            </a>
                        </li>
                        <li>
                            <p class="searched-tribute-name">
                                <a [routerLink]="['/tribute/details/', item.id,item.theme_id]"> {{item.first_name}} {{item.last_name}} </a>
                            </p>
                            <p class="searched-tribute-passed-date">{{item.dob | amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY'}} - {{item.pod | amParse:'YYYY-MM-DD'
                                | amDateFormat:'DD/MM/YYYY'}}</p>
                        </li>
                    </ul>
                    <ul class="searched-tribute-author">
                        <li>
                            <strong>Created by {{item.user.first_name}} {{item.user.last_name}},</strong>
                            <i class="fa fa-clock-o"></i> {{item.created_date | amDateFormat:'LL' }}</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #model_advancedsearch let-c="close" let-d="dismiss">
    <div class="clearfix popup-box">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advanced Search</h4>
                <button type="button" class="close" (click)="c('Close click')">
                    <span aria-hidden="true">
                        <img src="./assets/img/close-btn.png" alt="" />
                    </span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="advanced-form">
                    <form name="advancedFrm" id="advancedFrm" method="post" novalidate (ngSubmit)="onAdvanceFilter(advancedFrm)" #advancedFrm="ngForm">
                        <div>
                            <label for="advanced-first-name">First Name
                                <!-- <span class="required_field">*</span> -->
                            </label>
                            <input name="keyword" type="text" id="keyword" [(ngModel)]="search.keyword" placeholder="First Name" #keyword="ngModel">
                        </div>
                        <div>
                            <label for="advanced-last-name">Last Name
                                <!-- <span class="required_field">*</span> -->
                            </label>
                            <input name="last_name" type="text" id="last_name" [(ngModel)]="search.last_name" placeholder="Last Name" #keyword="ngModel">
                        </div>
                        <div>
                            <label for="country">Country
                                <!-- <span class="required_field">*</span> -->
                            </label>
                            <select class="drop-down form-control" name="country_id" [(ngModel)]="search.country" (ngModelChange)="onChangeCountry($event)">
                                <option label="Select Country" [ngValue]="0" selected>-Select Country-</option>
                                <option *ngFor="let list of countryList" [ngValue]="list.id"> {{list.name}}</option>
                            </select>
                        </div>
                        <div>
                            <label for="state">State</label>
                            <select class="drop-down form-control" name="state_id" [(ngModel)]="search.state" (ngModelChange)="onChangeState($event)">
                                <option label="Select State" [ngValue]="0" selected>-Select State-</option>
                                <option *ngFor="let list of stateList" [ngValue]="list.id"> {{list.name}}</option>
                            </select>
                        </div>
                        <div>
                            <label for="state">City</label>
                            <select class="drop-down form-control" name="suburb_id" [(ngModel)]="search.city">
                                <option label="Select City" [ngValue]="0" selected>-Select City-</option>
                                <option *ngFor="let list of suburbList" [ngValue]="list.id"> {{list.name}}</option>
                            </select>
                        </div>
                        <div>
                            <div class="">
                                <label for="pod-year">PassedOn Year</label>
                                <input name="pod" type="text" id="pod" [(ngModel)]="search.pod" placeholder="PassedOn Year" #pod="ngModel">
                            </div>
                        </div>
                        <div class="">
                            <input class="button-sml button l" value="Search" type="submit">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>