.cls_date_picker .dropdown-menu {
    min-width: 250px!important;
}

.cls_cusom_dropdown {
    width: 100%!important;
    text-align: left!important;
}

.cls_cusom_dropdown .caret{
    float: right!important; 
    margin-top: -10px!important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .cls_cusom_dropdown .caret{
        float: right!important; 
        margin-top: 8px!important;
    }
}

a{
    outline: none!important;
}

.cls_flag_icon {
    width: 16px;
    height: 16px;
}

.cls_select_box {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.cls_input_error{
    color: #a94442;
}

.cls_input_error_2{
    color: #a94442;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid #a94442;
}
.ui-datepicker{
    z-index: 2!important;
}


.cls_auto_location_parent ul li > .cls_location_header{
    background-color: #337AB7;
    color: #fff
}

.selectExtras em {
    background-color: #f5f5f5;
    border: 1px solid #cecece;
    cursor: pointer;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    margin-left: 5px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 80px;
    margin-bottom: 5px;
}

.selectExtras .selected_em {
    background-color: #EF5927;
    border: 1px solid #EF5927;
    color: #fff;
    position: relative;
}

.strike_row {
    display: block;
    text-align: center;
    white-space: nowrap;
    margin: 10px 0;
}
.btnFacebook {
    background-color: #3b5998;
    border-color: #3b5998 #3b5998 #263a63;
    color: #fff;
}

.cls_custom_btn{
    background: #ef5927 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-family: "titillium_webbold",Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
}
//.cls_location_header:parent { background: red; }

.nav_dropdown {
    min-width: 112px;
}
.nav_dropdown img {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    width: 24px;
}
.nav_dropdown .nav_dropdown_menu{
    min-width: 120px;
    padding: 0px;
    margin: 0px;
}
.nav_dropdown .nav_dropdown_menu li{
    width: 100%;
    padding: 3px 0px;
    border-bottom: 1px solid #ccc !important;
}
.nav_dropdown .nav_dropdown_menu .span_li_menu{
    color: #4d4d4d;
}
.nav_dropdown .nav_dropdown_menu li a{
    width: 100%;
}

.cls_home_input {
    background-color: #636870;
    border: medium none #636870;
    color: #ccc !important;
}

.cls_homeSerach_row .logoSection{
    margin-bottom: 25px;
}

@media (max-width:1200px ) {
    .nav_dropdown_menu{
        position: unset;
    }
    .nav_dropdown img {
        margin-top: 8px;
    }
}


.cls_spinimage {


    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 24000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
}