
<!--header start-->
<main-header></main-header>
<!--header end-->
<section id="topspacing" ng-controller="partnersCtrl" ng-init="initData();">
  <div class="container">
    <div class="col-md-12">
      <h1 class="h1" style="border-bottom:1px solid #eee; padding-bottom:10px;">Our Partners</h1>
    </div>
    <div class="col-md-12">
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Ace Drive Car Rental.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Ace Drive Car Rental</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/AKA Car Rental.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">AKA Car Rental</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Atlantic Rent-A-Car Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Atlantic Rent-A-Car Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Blue Rio Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Blue Rio Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Carway Leasing & Rental.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Carway Leasing & Rental</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Citi-Lux Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Citi-Lux Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/De Auto Leasing Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">De Auto Leasing Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Dream Drive.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Dream Drive Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Drive Through.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">DRIVETHRU (VFM Pte Ltd)</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Eazi Car Leasing & Marketing Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Eazi Car Leasing & Marketing Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Elitez Car Rental Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Elitez Car Rental Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Eurokars Leasing Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Eurokars Leasing Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Europcar.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Europcar Singapore</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Global Advance Leasing.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Global Advance Leasing</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Index Rent A Car.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Index Rent A Car</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Juz Rent Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Juz Rent Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Limocars.sg Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Limocars.sg Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/MyWeddingCar Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">MyWeddingCar Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Neo R and R Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Neo R and R Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/One2Rent Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">One2Rent Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Orchard Car Rental.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Orchard Car Rental</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Oscars Leasing Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Oscars Leasing Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Rent & Go 2 Car Rental Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Rent & Go 2 Car Rental Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Rent & Go Car Rental Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Rent & Go Car Rental Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Rev Power Car Leasing.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Rev Power Car Leasing</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/S.T.I Auto Experience.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">S.T.I Auto Experience</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/SG Car Leasing Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">SG Car Leasing Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/SG Rent A Car.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">SGRENTACAR PTE LTD</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/SIXT.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">SIXT</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Swish Car Rental Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Swish Car Rental Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Vertex Rent A Car.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Vertex AutoMobile Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Vin's Car Rental Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Vin's Car Rental Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Wagon Mate Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Wagon Mate Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/Weddingcars.sg Pte Ltd.png" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">Weddingcars.sg Pte Ltd</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/White Gloves Limousines.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">White Gloves Limousines</a></div>
      </div>
      <div  class="col-md-2 col-xs-6 incoy ng-scope"> <a href="#" atag> <img src="assets/img/partners/YM Car Leasing Pte Ltd.jpg" class="team-member-image-profile" /> </a>
        <div class="partners-name-top h6"><a href="#" atag class="ng-binding">YM Car Leasing Pte Ltd</a></div>
      </div>
    </div>
  </div>
  </div>
</section>

<login-modal-view></login-modal-view>
<signup-modal-view></signup-modal-view>
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->