
<!--header start-->
<main-header></main-header>
<!--header end-->


<section id="topspacing" ng-controller="teamCtrl" ng-init="initData();">
  <div class="container">
    <div class="col-md-12 padNone">
      <h1 class="h1" style="border-bottom:1px solid #eee; padding-bottom:10px;">Team - Meet our team</h1>
    </div>
    <div class="row">
      <div class="team-description">
        <div class="col-md-3"> <img ng-src="assets/img/team/trex_lim_head_of_system_architect.jpg" class="team-member-image-profile" src="assets/img/team/trex_lim_head_of_system_architect.jpg"> </div>
        <div class="col-md-9">
          <div class="team-member-name h3 ng-binding">Trex Lim</div>
          <div class="team-about-container h4"> <span  class="ng-binding">Head of System Architect</span> </div>
          <p class="teamdes"> <span  class="ng-binding">Trex is the Head of System Architect at RC9. He is responsible for the evolvement of the design and development of RC9's systems. He is a defining figure in the company who defines the system requirements and creates high level architectural specifications. He ensures scalability, functionality and integration of RC9's vision with existing systems and platforms.<br>
            <br>
            Trex began his humble journey as a website developer at the age of 15. With his evergrowing passion for technology, it triggered him to explore beyond the scope of website developer. Over the years, he acquired various technology skills ranging from mobile app to server development also led a team in the annual Microsoft Imagine Cup 2010 and came in Top 6th worldwide. Prior to RC9, he was also a recipient of the ACE-startup grant for his mobile gaming app venture. In addition, he is also a certified holder of SAP and Oracle Cloud ERP.</span> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-description">
        <div class="col-md-3"> <img ng-src="assets/img/team/krysie_ma_chief_marketing_officer.jpg" class="team-member-image-profile" src="assets/img/team/krysie_ma_chief_marketing_officer.jpg"> </div>
        <div class="col-md-9">
          <div class="team-member-name h3 ng-binding">Krystie Ma</div>
          <div class="team-about-container h4"> <span  class="ng-binding">Chief Marketing Officer (CMO)</span> </div>
          <p class="teamdes"> <span  class="ng-binding">Krystie is the CMO at RC9. She is a highly motivated individual that focuses on instrumental marketing and innovative customer acquisition strategies for the company. Accompanied with a strong passion for the fruition of a successful vehicle sharing economy, it propels her beyond her role and exudes dynamic positivity throughout the team.<br>
            <br>
            Coupled with vast experiences in marketing and partnerships previously for some of the biggest malls and well known brands such as HTC, Samsung, SPH in South East Asia, she is capable of sourcing for new opportunities and effective channels of distribution needed to increase the exposure of RC9 abroad. She possesses leadership qualities and analytical skills needed for planning for business units.</span> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-description">
        <div class="col-md-3"> <img ng-src="assets/img/team/chan_tze_pin_sales_operations_manager.jpg" class="team-member-image-profile" src="assets/img/team/chan_tze_pin_sales_operations_manager.jpg"> </div>
        <div class="col-md-9">
          <div class="team-member-name h3 ng-binding">Chan Tze Pin</div>
          <div class="team-about-container h4"> <span  class="ng-binding">Sales Operations Manager</span> </div>
          <p class="teamdes"> <span  class="ng-binding">Tze Pin is the Sales Operations Manager at RC9. He believes in continuously creating value and extraordinary experiences for RC9 users and customers. He has an innate ability to develop a quick connection and understanding with users along with his relentless determination to serve their needs. With great humility and patience, he provides guidance to his subordinates and a overall great team player.<br>
            <br>
            He was in the aviation industry for a few years prior to joining RC9 and has always been fascinated with air transport, especially Boeing commercial airplanes. He joined the RC9 team as he believes in the dream of making RC9 the largest personal transportation provider in Asia.</span> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-description">
        <div class="col-md-3"> <img ng-src="assets/img/team/limguohong_cto_co_founder.jpg" class="team-member-image-profile" src="assets/img/team/limguohong_cto_co_founder.jpg"> </div>
        <div class="col-md-9">
          <div class="team-member-name h3 ng-binding">Lim Guo Hong</div>
          <div class="team-about-container h4"> <span  class="ng-binding">Co-Founder</span> </div>
          <p class="teamdes"> <span  class="ng-binding">Guo Hong is the co-founder at RC9. He is responsible for the IT strategy to attain RC9's vision of making personal transportation more affordable and safer with transparency in mind. He strongly believes in using the capabilities of technology to empower and inspire commuters from the way they move around.<br>
            <br>
            He has more than 9 years of experience in Information Technology Field gained from renowned multinational technological companies. During his tenure with Microsoft Corporation, he tailor-made training and marketing campaigns for APAC Microsoft Subsidiaries and oversaw future world changing prototyping projects for Microsoft Regional School Technology Innovation Centre. He is currently pursing Bachelor (Honors) of Computing in Information System from National University of Singapore. In his free time, he would code mobile applications and blog on technological articles.</span> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-description">
        <div class="col-md-3"> <img ng-src="assets/img/team/daryl_png_co_founder.jpg" class="team-member-image-profile" src="assets/img/team/daryl_png_co_founder.jpg"> </div>
        <div class="col-md-9">
          <div class="team-member-name h3 ng-binding">Daryl Png</div>
          <div class="team-about-container h4"> <span  class="ng-binding">Co-Founder</span> </div>
          <p class="teamdes"> <span  class="ng-binding">Daryl is the co-founder at RC9. He drives the company's vision, strategy and growth along with a strong desire to make personal transportation more transparent. He is an innovation enthusiast who constantly innovates with the team and tries to improve the lives of its community with unique ways for people to move around more affordably and safely.<br>
            <br>
            Daryl became an entrepreneur early on running a business in his early twenties, while doing innovative web based solutions and providing brand strategies for small and medium sized businesses in various countries. Daryl met co-founder Guo Hong while both were developing website and software respectively during their tenure in the National Service for the Airforce. He graduated Magna Cum Laude from the State University of New York at Buffalo (SUNY) with a Bachelor of Science Degree in Business Administration (BScBA) majoring in International Business.</span> </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<login-modal-view></login-modal-view>
<signup-modal-view></signup-modal-view>
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->