@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  height: 100%;
  position: relative;
  background: #F8F8F8;
  color: #5B595B;
}
.button:hover, .pagination a:hover, .pagination a.current, .button-sml:hover, .button-sml.current {
  background: #C73636;
  border-color: #C73636 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cls-button-sml {
  background: #e95858 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: 220px;
}
footer {
  width: 100%;
  background: #333;
  padding: 10px 0;
}
footer nav {
  display: block;
  text-align: center;
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer nav li {
  height: auto;
  line-height: 1.4;
  padding: 5px 15px;
}
footer nav li a:hover {
  color: #A6CE49;
  text-decoration: none !important;
}
footer li {
  display: inline-block;
 *zoom: 1;
 *display: inline;
  padding: 0 11px;
  height: 35px;
  line-height: 35px;
}
footer a, footer p {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.copy {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  color: #A8A8A8;
}
.modal-header {
  border-radius: 4px 4px 0 0;
  background: #A6CE49;
  color: #FFF;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.btn.btn-default {
  background: #A6CE49;
  color: #fff;
}
.tab-content, .progressTabs {
  width: 100%;
}
.required_field {
  color: #d00;
  position: relative;
  margin-left: 8px;
  top: 3px;
}
.dashed-brd {
  border: 6px dashed #CCC;
  text-align: center;
  padding: 20px;
  border-radius: 10px
}
.outer-gallery-box {
  width: 100%;
  padding: 5px;
  margin: 7px;
  min-height: 180px;
  overflow: hidden;
}
.top {
  margin-top: 10px
}
.cls-logged-in {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #e7e7e7;
  color: #a8a8a8 !important;
  float: right;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 18px 0px;
  height: 55px !important
}
.post-profile-image {
  width: 40px;
  border-radius: 0px;
  margin: 7px 5px 38px 0px;
  max-height: 50px;
}
.contact-section {
  width: 100% !important;
  margin-top: 80px;
  clear: both;
  overflow: hidden
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}
.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #fff;
  border-color: #ddd;
}
.panel-body {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
.panel-title {
  font-size: 1.5em;
  font-family: 'Signika', sans-serif;
  margin-bottom: 10px;
}
.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #005580 !important
}
.more-less {
  float: right;
  color: #005580;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}
.help {
  padding-top: 110px;
  padding-bottom: 60px;
}
.help h4.title {
  font-size: 24px;
}
.help .sub-menu {
  padding: 0 0 0 30px;
  margin: 0;
  border: none;
}

@media (max-width:768px) {
.contact-section {
  margin-top: 0px !important;
}
}

@media (max-width:767px) {
video, iframe {
  width: 100% !important;
  height: auto !important
}
.contact-section {
  margin-top: 0px !important;
}
}
/* General styles for all menus */

.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}
.cbp-spmenu a {
  display: block;
  color: #fff;/*font-size: 1.1em;
	font-weight: 300;*/
}
.cbp-spmenu a:hover {
  background: #258ecd;
}
.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}
/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.cbp-spmenu-vertical a {
/*	border-bottom: 1px solid #666;
	padding: 1em;*/
}
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}
.cbp-spmenu-right {
  right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}
/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}
.cbp-spmenu-bottom {
  bottom: -150px;
}
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}
/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.cbp-spmenu-push-toright {
  left: 240px;
}
.cbp-spmenu-push-toleft {
  left: -240px;
}
/* Transitions */

.cbp-spmenu, .cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {
.cbp-spmenu-horizontal {
  font-size: 75%;
  height: 110px;
}
.cbp-spmenu-top {
  top: -110px;
}
.cbp-spmenu-bottom {
  bottom: -110px;
}
}

@media screen and (max-height: 26.375em) {
.cbp-spmenu-vertical {
  font-size: 90%;
  width: 190px;
}
.cbp-spmenu-left, .cbp-spmenu-push-toleft {
  left: -190px;
}
.cbp-spmenu-right {
  right: -190px;
}
.cbp-spmenu-push-toright {
  left: 190px;
}
}
