<div class="container-fluid">
  <div class="row">

    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/blog">Blogs</a>
        </li>

      </ul>


    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Blog</h1>

      <div class="span8">
        <div *ngFor="let item of result">
          <a routerLink="/blog/{{item.id}}">
            <h1>{{item.title}}</h1>
          </a>
          <p>{{item.body}}
          </p>
          <!-- <div>
            <span class="badge badge-success">Posted 2012-08-02 20:47:04</span>
            <div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span></div>
          </div> -->
          <hr>
        </div>
      </div>
      <!-- Blog Post -->


    </main>
  </div>
</div>