<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="main-content dashboard-top-margin">
    <div class="content-container clearfix">
        <div class="page-intro">
            <h2>
                <i class="fa fa-user"></i>&nbsp; Edit your profile</h2>
        </div>

        <div id="edit-profile">
            <div class="l width-half">
                <div class="box-inner clearfix">
                    <h2 class="heading">Personal Information</h2>
                    <div class="external-login"> These fields can be edited from your
                        <a href="http://facebook.com" target="_blank">facebook account page</a>
                    </div>
                    <div>

                        <label>Profile Image</label>
                        <div style="width:100%; text-align:center;" *ngIf="showProfileImage">
                            <img src="{{user.original_avatar_image}}" class="img-responsive" style="display: inline; max-width: 200px;">
                        </div>

                        <input style="display:none;" class="custom-file-upload" id="custom-inputval" type="file" (change)="fileChangeListener($event)">
                        <div style="width:100%; text-align:center;" *ngIf="!showProfileImage">
                            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                            <br>
                        </div>

                        <!-- <span class="result rounded" *ngIf="data.image" >
                            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                        </span> -->

                        <label for="custom-inputval">
                            <a class="button-sml" type="">Browse</a>
                        </label>
                        <!-- <button class="button-sml ng-binding ng-hide">Crop</button> -->
                        <a class="button-sml" *ngIf="!showProfileImage" (click)="updateProfileImage();" id="profile-image-button">Upload</a>

                    </div>
                    <form name="profileFrm" id="profileFrm" method="post" novalidate (ngSubmit)="onProfileUpdate(profileFrm)" #profileFrm="ngForm">
                        <div>
                            <label for="first-name">First Name
                            </label>
                            <!-- <input id="first-name" placeholder="First name" name="first_name" type="text"> -->
                            <input name="first_name" type="text" id="first_name" [(ngModel)]="user.first_name" placeholder="First Name" #first_name="ngModel"
                                required>
                            <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)">
                                <p class="error-block" *ngIf="first_name.errors.required">Please enter first name</p>
                            </div>
                        </div>
                        <div>
                            <label for="middle_name">Middle Name
                            </label>
                            <!-- <input id="first-name" placeholder="First name" name="first_name" type="text"> -->
                            <input name="middle_name" type="text" id="middle_name" [(ngModel)]="user.middle_name" placeholder="Middle Name" #middle_name="ngModel">

                        </div>
                        <!-- <div>
                                    <label for="mid-name">Middle Name</label>
                                    <input id="mid-name" type="text" placeholder="Middle Name" name="mid-name" type="text">
                                </div>-->
                        <div>
                            <label for="mid-name">Last Name</label>
                            <input name="last_name" type="text" id="last_name" [(ngModel)]="user.last_name" placeholder="Last Name" #last_name="ngModel"
                                required>
                            <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                                <p class="error-block" *ngIf="last_name.errors.required">Please enter last name</p>
                            </div>
                        </div>

                        <div>
                            <label for="dob">Date of Birth</label>
                            <!-- <input name="dob" type="text" id="dob" [(ngModel)]="user.dob" placeholder="Date of Birth(YYYY-MM-DD)" #dob="ngModel"> -->
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Date of Birth(YYYY-MM-DD)" name="dob" [(ngModel)]="userDob" (ngModelChange)="selectdobDate($event)"
                                        ngbDatepicker #dob="ngbDatepicker">
                                    <button class="input-group-addon" (click)="dob.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="contact_person">Contact Person</label>
                            <input name="contact_person" type="text" id="contact_person" [(ngModel)]="user.contact_person" placeholder="Contact Person"
                                #contact_person="ngModel">
                        </div>

                        <div>
                            <label for="email-address">Email Address</label>
                            <input name="email" type="email" id="email" [(ngModel)]="user.email" [disabled]="true" placeholder="Email Address" #email="ngModel"
                                required email>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                <p class="error-block" *ngIf="email.errors.required">Please enter email address</p>
                                <p class="error-block" *ngIf="!email.errors.required && email.errors.email">Please enter valid email address</p>
                            </div>
                        </div>

                        <div>
                            <label for="phone_number">Phone Number</label>
                            <input name="phone_number" type="text" id="phone_number" [(ngModel)]="user.phone_number" placeholder="Phone Number" #phone_number="ngModel">
                        </div>

                        <div>
                            <label for="abn">ABN</label>
                            <input name="abn" type="text" id="abn" [(ngModel)]="user.abn" placeholder="ABN" #abn="ngModel">
                        </div>

                        <div>
                            <label for="address">Address</label>
                            <textarea name="address" id="address" [(ngModel)]="user.address" placeholder="Address" #address="ngModel"></textarea>
                        </div>


                        <button type="Submit" class="button-sml r" id="profile-button" [disabled]="!profileFrm.valid">Submit</button>

                    </form>
                </div>
            </div>
            <!-- Notification options -->
            <div class="l width-half">
                <div class="box-inner email-notification clearfix">
                    <h2 class="heading">Email Notifications</h2>
                    <form name="notificationFrm" id="notificationFrm" method="post" novalidate (ngSubmit)="onNotificationUpdate(notificationFrm)"
                        #notificationFrm="ngForm">
                        <div class="">
                            <input name="is_notification" type="checkbox" id="is_notification" [(ngModel)]="user.is_notification" #is_notification="ngModel">
                            <label for="is_notification">New Comments</label>
                        </div>
                        <div class="">
                            <input name="is_post_notification" type="checkbox" id="is_post_notification" [(ngModel)]="user.is_post_notification" #is_post_notification="ngModel">
                            <label for="is_post_notification">New Posts</label>
                        </div>
                        <div class="">
                            <input name="is_tribute_notification" type="checkbox" id="is_tribute_notification" [(ngModel)]="user.is_tribute_notification"
                                #is_tribute_notification="ngModel">
                            <label for="is_tribute_notification">New Tribute</label>
                        </div>
                        <button type="Submit" class="button-sml r" id="profile-notification-button" [disabled]="!notificationFrm.valid">Save Settings</button>
                    </form>
                </div>
            </div>
            <!-- Password change options -->

            <div id="password-change" class="width-half l clearfix">
                <form name="passwordFrm" id="passwordFrm" method="post" novalidate (ngSubmit)="onPasswordUpdate(passwordFrm)" #passwordFrm="ngForm">
                    <div class="box-inner clearfix">
                        <h2 class="heading">
                            <span>Change Password</span>
                        </h2>


                        <div>
                            <label for="old-password">Old Password</label>
                            <input name="old_password" type="password" id="old_password" [(ngModel)]="passwordObj.old_password" placeholder="Old Password"
                                #old_password="ngModel" required>
                            <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)">
                                <p class="error-block" *ngIf="old_password.errors.required">Please enter old password</p>
                            </div>
                        </div>

                        <div>
                            <label for="new-password">New Password</label>
                            <input name="new_password" type="password" id="new_password" [(ngModel)]="passwordObj.new_password" placeholder="New Password"
                                #new_password="ngModel" required>
                            <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
                                <p class="error-block" *ngIf="new_password.errors.required">Please enter new password</p>
                            </div>
                        </div>
                        <div>
                            <label for="confirm-new-password">Confirm New Password</label>
                            <input name="confirm_new_password" type="password" id="confirm_new_password" [(ngModel)]="passwordObj.confirm_new_password"
                                placeholder="Confirm New Password" #confirm_new_password="ngModel" [equalTo]="new_password" required>
                            <div *ngIf="confirm_new_password.invalid && (confirm_new_password.dirty || confirm_new_password.touched)">
                                <p class="error-block" *ngIf="confirm_new_password.errors.required">Please enter confirm new password</p>
                                <p class="error-block" *ngIf="!confirm_new_password.errors.required && confirm_new_password.errors.equalTo"> New password & Confirm new password both should be same</p>
                            </div>
                        </div>

                        <button type="Submit" class="button-sml r" id="profile-password-button" [disabled]="!passwordFrm.valid">Update</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>