<div class="top-menu">
    <div class="wrapper clearfix">
        <a [routerLink]="['/home']">
            <img src="assets/img/passed-on-logo.svg" alt="PassedOn logo" class="l logo" alt="" />
        </a>
        <div class="l mobile-button">
            <i class="icon-menu"></i>
            <nav>
                <ul id="mobile-nav" style="display: none; margin-top: 5px;">
                    <li>
                        <a [routerLink]="['/home']">PassedOn.com</a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']">Create a tribute page</a>
                    </li>
                    <li>
                        <a class="search-surname-link" [routerLink]="['/search']">Search tributes</a>
                    </li>
                    <li *ngIf="!authService.isAuthenticated()">
                        <a class="nav-link cls_a" (click)="authService.loginClick();">Sign In</a>
                    </li>
                    <li *ngIf="authService.isAuthenticated()">
                        <a class="nav-link cls_a" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <!-- <li>
                            <a href="#">Sign-in</a> 
                          </li>
                        <li>
                            <a href="#">Dashboard</a> 
                          </li> -->
                </ul>
            </nav>
        </div>
        <nav>
            <ul class="top-nav">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a [routerLink]="['/home']">PassedOn.com</a>
                </li>
                <li>
                    <a [routerLink]="['/home']">Create a tribute page</a>
                </li>
                <!-- <li class="search-surname-container"> <a class="search-surname-link" href="#"><i class="fa fa-search"></i> Search tributes</a>
                  <div class="search-surname-form">
                      <form id="search-surname" action="#">
                          <label for="surname"></label>
                          <input id="surname" placeholder="Enter Surname" type="text">
                          <input class="button-sml button" value="Go" type="submit">
                      </form>
                  </div>
              </li> -->
                <li>
                    <a href="#" class="nav-sub-menu-holder">Settings &nbsp;
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="nav-sub-menu">
                        <li>
                            <a [routerLink]="['/privacy']">Privacy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/support']">Support</a>
                        </li>
                        <li>
                            <a [routerLink]="['/terms']">Terms</a>
                        </li>
                        <li *ngIf="!authService.isAuthenticated()" >
                            <a (click)="authService.loginClick();">Sign In</a>
                        </li>
                        <li *ngIf="authService.isAuthenticated()">
                            <a  routerLink="/dashboard">Dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>