/* You can add global styles to this file, and also import other style files */
.error-block{
    color:#FF0000;
    font-size:14px;
    margin-top:10px;
    display: block;
    margin-bottom: 0px;
}

.cls_a{
    cursor: pointer;
}

.dashboard-top-margin{
    margin-top: 0px;
}

ngb-datepicker.dropdown-menu{
    background-color:#fff;
    color: #212529;
}

input[type="submit"]:disabled,button[type="submit"]:disabled {
    cursor:no-drop;
}

.full-width-info {
    width: 100%;
    font-size: 14px;
    background: #A6CE49;
    padding: 15px 10px;
    font-weight: bold;
    color: #fff;
}

.popover{
    max-width: 320px;
    width: 320px;
}