
<!--header start-->
<main-header></main-header>
<!--header end-->
<div class="cls_main_div" ng-controller="carExtrasCtrl" ng-init="initExtras();">

    <div class="cls_search_cars" ng-hide="showCarLoading">
        <section id="searchResults" style="overflow: hidden;">
            <div class="blueBg">
                <div class="container">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="tab_bar">
                            <li ><a  ui-sref="book_car">Select Your Car</a></li>
                            <li class="active"><a atag >Extras</a></li>
                            <li><a href="javascript:void(0);" atag>Details</a></li>
                            <li><a href="javascript:void(0);" atag>Payment</a></li>
                            <li><a href="javascript:void(0);" atag>Confirmation</a></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="tab-content"> 
                    <!-- Select Your Car -->
                    <div class="tab-pane active" id="tab2">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="extras">
                                    <div><img src="assets/img/hyundai-i20.png" alt=""/></div>
                                    <h1 class="h1">{{selCarObj.make}} <span>{{selCarObj.type}} </span></h1>
                                    <hr/>
                                    <div>
                                        <label class="fnt">Pick-up</label>
                                    </div>
                                    <div class="title">{{searchObj.pick_up_loc}}</div>
                                    <div class="time">{{ searchObj.pick_up_datetime | date : 'EEEE, MMMM dd'}} {{ searchObj.pick_up_datetime | date : '@H:mm'}}</div>
                                    <!--                                    <div class="address">5309 Mccoy Road<br/>
                                                                            Orlando, FL 32812</div>-->

                                    <hr/>
                                    <div>
                                        <label class="fnt">Drop-off</label>
                                    </div>

                                    <div class="title" ng-show="(searchObj.show_drop_off)">
                                        {{searchObj.pick_up_loc}}
                                    </div>

                                    <div class="title" ng-hide="(searchObj.show_drop_off)">
                                        {{searchObj.drop_off_loc}}
                                    </div>
                                    <div class="time">
                                        {{ searchObj.drop_off_datetime | date : 'EEEE, MMMM dd'}} {{ searchObj.drop_off_datetime | date : '@H:mm'}}
                                    </div>



                                    <hr/>
                                    <div>
                                        <label class="fnt">Rental Period</label>
                                    </div>
                                    <div class="address">
                                        <span ng-show="(diffDaysType == 'hour')">{{diffDays}} Hours</span> 
                                        <span ng-show="(diffDays <= 1 && diffDaysType == 'day')">{{diffDays}} Day</span> 
                                        <span ng-show="(diffDays > 1 && diffDaysType == 'day')">{{diffDays}} Days</span> 
                                    </div>
                                    <div>
                                        <label class="fnt">Vehicle Features</label>
                                    </div>
                                    <div class="space">
                                        <span>
                                            <img src="assets/img/car-type/users.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.seaters}}-Seater</label>
                                        </span> 
                                        <span ng-show="(selCarObj.aircon == 1)">
                                            <img src="assets/img/car-type/ac.png" alt="" class="top"/>
                                            <label class="whiteBg">A/C</label>
                                        </span> 
                                        <span>
                                            <img src="assets/img/car-type/setting.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.transmission}}</label>
                                        </span> 
                                        <span>
                                            <img src="assets/img/car-type/cars.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.cc}} cc</label>
                                        </span> 
                                        <span ng-show="(selCarObj.self_drive == 1)">
                                            <img src="assets/img/car-type/self.png" alt="" class="top"/>
                                            <label class="whiteBg">Self Drive</label>
                                        </span> 
                                    </div>
                                    <hr/>
                                    <div ng-show="(selCarObj.min_age > 0)">
                                        <label class="fnt">Minimum Age of Driver</label>
                                    </div>
                                    <div class="address">
                                        <span ng-show="(selCarObj.min_age > 0)">{{selCarObj.min_age}} years</span> 
                                        <!--                                        21 years-->
                                    </div>
                                    <hr ng-show="(selCarObj.min_age > 0)" />
                                    <div ng-show="(selCarObj.license_ownership)">
                                        <label class="fnt">Driver's License Ownership</label>
                                    </div>
                                    <div ng-show="(selCarObj.license_ownership)" class="address">
                                        {{selCarObj.license_ownership}}
                                        <!--                                        min. 1 year(s)-->
                                    </div>
                                    <hr ng-show="(selCarObj.license_ownership)"/>
                                    <div>
                                        <label class="fnt">Conditions</label>
                                    </div>
                                    <ul class="conditions">
                                        <li>Rental information</li>
                                        <li>Terms and Conditions</li>
                                    </ul>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="selectExtras">
                                    <h3 class="h3">Select Extras</h3>
                                    <div class="allBorder">
                                        <h4 class="h4">Payment Options</h4>
                                        <form role="form">





                                            <div ng-repeat="(key_extra, val_extra) in selCarVehExtraObj |orderBy:$index" ng-init="val_extra_index = $index;">
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-7">
                                                        <label class="fnt">{{key_extra}}</label>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                                        <label class="fnt" ng-if="($index == 0)">Per Day</label>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                                        <label class="fnt" ng-if="($index == 0)">Amount</label>
                                                    </div>
                                                </div>

                                                <div class="row" ng-repeat="val_extra2 in val_extra" ng-init="val_extra2_index = val_extra_index + '_' + $index;">
                                                    <div ng-if="(!val_extra2.item)" class="col-md-12 col-sm-12">
                                                        <span><i class="fa fa-check"></i>  {{val_extra2}}</span>
                                                    </div>
                                                    <div ng-if="(val_extra2.item)" >
                                                        <div class="col-md-7 col-sm-7">

                                                            <div ng-if="(val_extra2.type == 'checkbox' || val_extra2.type == 'dropdown')" class="checkbox">
                                                                <label class="padLft0">
                                                                    <input type="checkbox" 
                                                                           value="car_spec_val.name" ng-model="filterExtrasData[val_extra2_index]" 
                                                                           ng-true-value="'{{val_extra2}}'" ng-false-value="''"
                                                                           ng-change="setFilterExtraData();">
                                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                    {{val_extra2.item}}
                                                                </label>
                                                            </div>




                                                            <!--                                                            <span><i class="fa fa-check"></i>  {{val_extra2.item}}</span>-->
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                                            <span>{{val_extra2.unit}}</span>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-6">
                                                            <span>{{val_extra2.currency}} {{val_extra2.cost}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr/>
                                            </div>


                                            <div class="bgLight">
                                                <div class="">
                                                    <div class="col-md-8 col-sm-7 col-xs-7">
                                                        <label class="fnt1">Car Hire Price:</label>
                                                    </div>
                                                    <div class="col-md-4 col-sm-5 col-xs-5 alignRight">
                                                        <label class="fnt1">{{selectedCurrency}} {{(selCarObj.selling_price) | currency:" "}}</label>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-8 col-sm-7 col-xs-7">
                                                        <label class="fnt1">Total Addons Price*:</label>
                                                    </div>
                                                    <div class="col-md-4 col-sm-5 col-xs-5 alignRight">
                                                        <label class="fnt1">{{selectedCurrency}} {{(totalExtraAmount) | currency:" "}}</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <hr/>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-8 col-sm-7 col-xs-7">
                                                        <label class="fnt1">Total Price:</label>
                                                    </div>
                                                    <div class="col-md-4 col-sm-5 col-xs-5 alignRight">
                                                        <label class="fnt1">{{selectedCurrency}} {{(selCarObj.selling_price + totalExtraAmount) | currency:" "}}</label>
                                                    </div>
                                                </div>


                                                <div align="center">
                                                    <button class="btn-next nexttab" id="" type="button" ng-click="validateExtras();">Continue</button>
                                                    <br/>
                                                    <small style="color:#419116;">Free cancellation any time!</small> </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div style="padding-top:5px;">
                                        * Add a request for an additional driver, GPS, child seat or other extras. You will pay for these extras directly at the car hire supplier service desk on pick-up. Please note that availability of these extras is not always guaranteed.
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- <div align="center">
                                          <button class="btn-next nexttab" id="" type="button">Continue</button>
                                        </div>--> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Extras -->

                    <!-- Details -->

                    <!-- Payment -->

                    <!-- Confirmation -->

                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="top" align="center"> 
                    <!-- <button class="btn-next" id="prevtab" type="button">Prev</button>
                        <button class="btn-next" id="nexttab" type="button">Next</button>--> 
                </div>
            </div>
        </section>

    </div> <!--ENF OF cls_search_cars -->





    <div ng-include="'views/common/refresh_search_popup.html'"></div>
    <login-modal-view></login-modal-view>
    <signup-modal-view></signup-modal-view>

</div> <!--ENF OF cls_main_div -->
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->