
<!--header start-->
<main-header></main-header>
<!--header end-->
<div class="cls_main_div" ng-controller="bookCarCtrl" ng-init="initCarBook();">
    <div class="cls_search_cars_loading_div round-bg" ng-show="showCarLoading">
        <section id="searchingCar">
            <div class="container">
                <div class="">
                    <h1 class="h1 tops">We are searching for your perfect car...</h1>
                    <div class="row bottomSpace centerAll"> 

                        <span class="wid "><img class="" src="assets/img/car-type/hertz.jpg" alt="Hertz" /> 
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/europcar.jpg" alt="Europcar" /> 
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/thrifty.jpg" alt="Thrifty" />
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/avis.jpg" alt="Avis" />
                            <span class="cls_search_animation animated"></span> 
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/eazi-car.jpg" alt="Eazi Car" /> 
                            <span class="cls_search_animation animated"></span> 
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/ace-drive.jpg" alt="Ace Drive" /> 
                            <span class="cls_search_animation animated"></span>
                        </span> 

                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row centerAll"> 
                        <span class="wid"><img src="assets/img/car-type/aka.jpg" alt="AKA" /> 
                            <span class="cls_search_animation animated"></span>
                        </span>
                        <span class="wid"><img src="assets/img/car-type/sixt.jpg" alt="Sixt" /> 
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/auto-boutique.jpg" alt="Auto Boutique" />
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/atlantic.jpg" alt="Atlantic" />
                            <span class="cls_search_animation animated"></span>
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/limo-cars.jpg" alt="Limo Cars" /> 
                            <span class="cls_search_animation animated"></span> 
                        </span> 
                        <span class="wid"><img src="assets/img/car-type/wedding-cars.jpg" alt="Wedding Cars" /> 
                            <span class="cls_search_animation animated"></span> 
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section id="process">
            <div class="container">
                <div class="row" align="center">
                    <div class="col-md-4 col-sm-4">
                        <div class="circle"><i class="fa fa-check"></i></div>
                        <h5 class="h5">Free Cancellation</h5>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="circle"><i class="fa fa-check"></i></div>
                        <h5 class="h5">No Card Fees</h5>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="circle"><i class="fa fa-check"></i></div>
                        <h5 class="h5">Free Amendments</h5>
                    </div>
                </div>

            </div>
        </section>
    </div> <!--ENF OF cls_search_cars_loading_div -->
    <div class="cls_search_cars" ng-hide="showCarLoading">

        <script type="text/ng-template" id="itemLocationTpl.html">
            <div class="typeahead-group-header cls_location_header" style="padding:1px 0 1px 10px;" ng-if="match.model.isParent">
            <i ng-class="'fa '+match.model.flag_url"></i>
            {{match.model.name}}
            </div>
            <a href="javascript:void(0);" tabindex="-1" ng-if="!match.model.isParent">
            <img src="{{match.model.flag_url}}" style="width:16px;">
            <span ng-bind-html-unsafe="match.model">{{match.model.name}}</span>
            </a>
        </script>

        <section id="searchResults" style="overflow: hidden;">
            <div class="blueBg">
                <div class="container">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="tab_bar">
                            <li class="active"><a href="javascript:void(0);"atag>Select Your Car</a></li>
                            <li><a href="javascript:void(0);" atag >Extras</a></li>
                            <li><a href="javascript:void(0);"  atag>Details</a></li>
                            <li><a href="javascript:void(0);" atag>Payment</a></li>
                            <li><a href="javascript:void(0);"atag>Confirmation</a></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="tab-content"> 
                    <!-- Select Your Car -->
                    <div class="tab-pane active" id="tab1">
                        <div class="">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="carHire">
                                        <h1 class="h1">Search for car hire</h1>

                                        <!-- Form ST -->
                                        <form id="carHomeFrm" name="carHomeFrm" novalidate="novalidate" data-ng-submit="doValidateSearchCars(carHomeFrm.$valid)">
                                            <!-- Pick Up -->
                                            <div>
                                                <label>Pick-up</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group cls_auto_location_parent">
                                                        <div class="inner-addon right-addon"> <i class="fa fa-map-marker fa_input"></i>
                                                            <input type="text" class="form-control" name="pick_up_loc"  placeholder="Type in city or airport name" ng-model="searchObj.pick_up_loc" 
                                                                   typeahead="a.name for a in getLocations($viewValue,'pick_up_loc') | filter:$viewValue| limitTo:10" 
                                                                   typeahead-on-select="callBackLocation($item,$label,'pick_up_loc'); " typeahead-template-url="itemLocationTpl.html" 
                                                                   typeahead-wait-ms='800' typeahead-min-length='3' typeahead-loading="loading" 
                                                                   ng-blur="onBlueCallBack('pick_up_loc');" ng-change="onChangeLocation('pick_up_loc');" required autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group cls_date_picker">
                                                        <div class="inner-addon right-addon" id="start-date"><i class="fa fa-calendar fa_input"></i>

                                                            <!--                                                            <input type="text" name="pick_up_date" class="form-control" min-date="searchObj.drop_off_date" placeholder="Pick Up" datepicker-popup="{{format}}" 
                                                                                                                               ng-click="openCalenderDate($event, 'opened_2')" ng-model="searchObj.pick_up_date" 
                                                                                                                               is-open="calenderDateObj.opened_2" datepicker-options="dateOptions"  show-button-bar="false" required />-->
                                                            <input type="text" class="form-control" start-date-calendar=""  
                                                                   name="pick_up_date" id="pick_up_date" 
                                                                   ng-model="searchObj.pick_up_date" placeholder="Pick Up" required autocomplete="off" readonly>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="inner-addon right-addon" id="start-time">

                                                                <!--           <i class="fa fa-clock-o"></i>                                                     <input class="form-control" size="8" data-time-format="h:mm a" data-autoclose="1" ng-model="searchObj.pick_up_time" name="time" bs-timepicker 
                                                                                                                                       data-minute-step="15" data-arrow-behavior="picker" data-length="3" type="text">-->
                                                                <select
                                                                    ng-model="searchObj.pick_up_time" 
                                                                    name="pick_up_time" 
                                                                    ng-change="onChangeTime('pick_up_time');" 
                                                                    class="form-control" 
                                                                    ng-options="a.id as a.name for a in timesOptions" required>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Drop Off -->
                                            <div>
                                                <label>Drop-off</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group cls_auto_location_parent">
                                                        <div class="inner-addon right-addon"> <i class="fa fa-map-marker fa_input"></i>
                                                            <input type="text" class="form-control" name="drop_off_loc" placeholder="Type in city or airport name" ng-model="searchObj.drop_off_loc" 
                                                                   typeahead="a.name for a in getLocations($viewValue,'drop_off_loc') | filter:$viewValue| limitTo:10" 
                                                                   typeahead-on-select="callBackLocation($item,$label,'drop_off_loc')" typeahead-template-url="itemLocationTpl.html" 
                                                                   typeahead-wait-ms='800' typeahead-min-length='3' typeahead-loading="loading" 
                                                                   ng-blur="onBlueCallBack('drop_off_loc');" ng-change="onChangeLocation('drop_off_loc');" required autocomplete="off">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group cls_date_picker">
                                                        <div class="inner-addon right-addon" id="start-date"><i class="fa fa-calendar fa_input"></i>
                                                            <!--                                                            <input type="text" name="drop_off_date" class="form-control" min-date="today" max-date="searchObj.pick_up_date" placeholder="Drop Off" datepicker-popup="{{format}}" 
                                                                                                                               ng-click="openCalenderDate($event, 'opened_1')" ng-model="searchObj.drop_off_date" 
                                                                                                                               is-open="calenderDateObj.opened_1" datepicker-options="dateOptions"  show-button-bar="false" required />-->

                                                            <input type="text" class="form-control" end-date-calendar=""  
                                                                   name="drop_off_date" id="drop_off_date" 
                                                                   ng-model="searchObj.drop_off_date" placeholder="Drop Off" required autocomplete="off" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="inner-addon right-addon" id="start-time">
                                                                <!--   <i class="fa fa-clock-o"></i>                                                             <input class="form-control" size="8" data-time-format="h:mm a" data-autoclose="1" ng-model="searchObj.drop_off_time" name="time" bs-timepicker 
                                                                                                                                       data-minute-step="15" data-arrow-behavior="picker" data-length="3" type="text">-->
                                                                <select
                                                                    ng-model="searchObj.drop_off_time" 
                                                                    name="drop_off_time" 
                                                                    class="form-control" 
                                                                    ng-options="a.id as a.name for a in timesOptions" required>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label>I Live In</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <!--                                                        <button type="button" class="btn btn-default cls_cusom_dropdown" ng-model="selectedLoc" ng-change="onChangeLoc();"  
                                                                                                                        data-html="1" bs-options="icon.value as icon.label for icon in location_options" bs-select>
                                                                                                                    Action <span class="caret "></span>
                                                                                                                </button>-->

                                                        <select
                                                            ng-model="selectedLoc" 
                                                            name="selectedLoc" 
                                                            class="form-control" 
                                                            ng-options="a.value as a.name for a in location_options">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Currency</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <!--                                                        <button type="button" class="btn btn-default cls_cusom_dropdown" ng-model="selectedCurrency" ng-change="onChangeCurrency();" 
                                                                                                                        data-html="1" bs-options="icon.value as icon.label for icon in currency_options" bs-select>
                                                                                                                    Action <span class="caret "></span>
                                                                                                                </button>-->

                                                        <select
                                                            ng-model="selectedCurrency" 
                                                            name="selectedCurrency" 
                                                            ng-change="onChangeCurrency();" 
                                                            class="form-control" 
                                                            ng-options="a.value as a.name for a in currency_options">
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="carHomeFrm.$invalid && !isFrmInvalid">
                                                <div class="col-sm-12 col-md-12">
                                                    <div ng-class="{ 'has-error' :carHomeFrm.$invalid }">
                                                        <p class="cls_input_error_2">
                                                            Please fill in all the fields
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 cls_custom_btn">
                                                    <button type="submit" class="btn btn-default" >Search</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Form EN --> 

                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <accordion class="accordion" close-others="oneAtATime" ng-init="status.isOpen[0] = true">
                                                <accordion-group  is-open="status.isOpen[0]" >
                                                    <accordion-heading>
                                                        Car Specifications  <i class="fa chevron-icon pull-right" ng-class="{'fa-chevron-down': status.isOpen[0], 'fa-chevron-right': !status.isOpen[0]}"></i>
                                                    </accordion-heading>
                                                    <div class="checkbox" ng-repeat="(car_spec_key, car_spec_val) in search_result.filter_car_spec">
                                                        <label class="padLft0">
                                                            <input type="checkbox" name="car_supplier[]" 
                                                                   value="car_spec_val.name" ng-model="filterData.specifications[car_spec_key]" 
                                                                   ng-true-value="'{{car_spec_val.name}}'" ng-false-value="''" 
                                                                   ng-change="setFilterSpecData();">
                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            {{car_spec_val.name}}
                                                        </label>

                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <accordion class="accordion" close-others="oneAtATime" >
                                                <accordion-group  is-open="status.isOpen[1]" >
                                                    <accordion-heading>
                                                        Supplier  <i class="fa chevron-icon pull-right" ng-class="{'fa-chevron-down': status.isOpen[1], 'fa-chevron-right': !status.isOpen[1]}"></i>
                                                    </accordion-heading>
                                                    <div class="checkbox" ng-repeat="(car_spec_key, car_spec_val) in search_result.filter_car_supplier ">
                                                        <label class="padLft0">
                                                            <input type="checkbox" name="car_supplier[]" 
                                                                   value="car_spec_val.name" ng-model="filterData.company_names[car_spec_key]" 
                                                                   ng-true-value="'{{car_spec_val.name}}'" ng-false-value="''" 
                                                                   ng-change="setFilterCompanyData();">
                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            {{car_spec_val.name}}
                                                        </label>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-8 col-sm-8"> 
                                    <!-- Result List -->

                                    <div class="resultList" ng-show="(car_list.length == 0)">
                                        <h1 class="h1">No results matching your criteria</h1>

                                    </div>

                                    <div class="resultList" ng-show="(car_list.length > 0)">
                                        <h1 class="h1">We found <strong>{{car_list.length}} cars</strong> offers</h1>
                                        <div class="links"> 
                                            <a href="#" class="active" atag><span>Show All</span></a> 
                                            <a href="#" atag><span>Europcar</span></a> 
                                        </div>
                                        <hr/>
                                    </div>
                                    <!-- POPULAR ST -->
                                    <div ng-show="(car_list.length > 0)" ng-repeat="(car_key, car_val) in car_list" class="allBorder">
                                        <div class="col-md-9 col-sm-8 geryBg">
                                            <div class="lft1"> <img src="assets/img/hyundai-i20.png" alt="" /></div>
                                            <div class="rht1">
                                                <h3 class="h3">
                                                    {{car_val.make}} 
                                                    <span>OR SIMILAR</span>
                                                </h3>
                                                <strong>{{car_val.type}}</strong><br/>
                                                <div class="space">
                                                    <span>
                                                        <img src="assets/img/car-type/users.png" alt="" class="top"/>
                                                        <label class="whiteBg">{{car_val.seaters}}-Seater </label>
                                                    </span> 
                                                    <span ng-show="(car_val.aircon == 1)">
                                                        <img src="assets/img/car-type/ac.png" alt="" class="top"/>
                                                        <label class="whiteBg">A/C </label>
                                                    </span> 
                                                    <span>
                                                        <img src="assets/img/car-type/setting.png" alt="" class="top"/>
                                                        <label class="whiteBg">{{car_val.transmission}}</label>
                                                    </span> 
                                                </div>
                                                <div class="space">
                                                    <span>
                                                        <img src="assets/img/car-type/cars.png" alt="" class="top"/>
                                                        <label class="whiteBg">{{car_val.cc}} cc</label>
                                                    </span> 
                                                    <span ng-show="(car_val.self_drive == 1)">
                                                        <img src="assets/img/car-type/self.png" alt="" class="top"/>
                                                        <label class="whiteBg">Self Drive </label>
                                                    </span> 
                                                </div>
                                                <div class="space">
                                                    <label>Car provided by: {{car_val.company_name}} </label>
                                                    <label class="rht">Rating: <span style="color:#a0a09b;">{{car_val.avg_rate}}</span></label>
                                                </div>
                                            </div>
                                            <div class="borderTop">
                                                <div class="lft2">
                                                    <h4 class="h4">Supplier Info:</h4>
                                                    <div >
                                                        <div class="spaceRht" ng-repeat="(car_supplier_key, car_supplier_val) in car_val.supplier_info[0]">
                                                            <span>{{car_supplier_key}}</span><br/>
                                                            <span>
                                                                <strong class="fnt">{{car_supplier_val}}</strong>
                                                            </span> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rht2">
                                                    <h4 class="h4">Included for Free:</h4>
                                                    <ul class="list">
                                                        <li ng-repeat="car_fee_val in car_val.include_free">
                                                            <i class="fa fa-check"></i> {{car_fee_val}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="mobileView">
                                                <div class="popular">POPULAR</div>
                                                <div class="spaceTop">
                                                    <div class="strikeTxt"><strike>{{selectedCurrency}} {{car_val.original_price}}</strike></div>
                                                    <div class="lgFont">{{selectedCurrency}} {{car_val.selling_price}}</div>
                                                    <!--                                                    <div class="smFont">for 3 days</div>-->
                                                </div>
                                            </div>
                                            <div class="spaceTop1">
                                                <button type="button" name="Book Now" value="Book Now" class="btn booknowBtn" 
                                                        ng-click="bookCar(car_val, car_key);">Book Now &nbsp;<small><i class="fa fa-chevron-right"></i></small></button>
                                                <button type="button" name="Email Quote" value="Email Quote" class="btn emailuoteBtn" 
                                                        ng-click="viewCarQuote(car_val, car_key);">Email Quote</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- GREAT VALUE ST -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Extras -->

                    <!-- Details -->

                    <!-- Payment -->

                    <!-- Confirmation -->

                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="top" align="center"> 
                    <!-- <button class="btn-next" id="prevtab" type="button">Prev</button>
                        <button class="btn-next" id="nexttab" type="button">Next</button>--> 
                </div>
            </div>
        </section>

    </div> <!--ENF OF cls_search_cars -->


    <div ng-include="'views/common/refresh_search_popup.html'"></div>



    <div class="modal fade" id="emailquoat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">
                                    <!--                                    <i class="fa fa-envelope" style="font-size:24px; margin-top:-5px;"></i> -->
                                    <img class="site-logo" style="height: 50px;" alt="" src="assets/img/logo.png">
                                    Email me a quote
                                </h3>
                            </div>
                            <div class="panel-body"> 

                                <!-- -->
                                <div id="searchResults">
                                    <div class="selectExtras">
                                        <div class="allBorder" style="padding:0; margin-top:0;">
                                            <div class="col-md-9 col-sm-8 geryBg">
                                                <div class="lft1"> <img src="assets/img/hyundai-i20.png" alt="" /></div>
                                                <div class="rht1">
                                                    <h3 class="h3" style="color:#ef5927;">{{selCarQuoteObj.make}} <span>OR SIMILAR</span></h3>
                                                    <strong>{{selCarQuoteObj.type}}</strong><br/>
                                                    <div class="space">
                                                        <span>
                                                            <img src="assets/img/car-type/users.png" alt="" class="top"/>
                                                            <label class="whiteBg">{{selCarQuoteObj.seaters}}-Seater</label>
                                                        </span> 
                                                        <span ng-show="(selCarQuoteObj.aircon == 1)">
                                                            <img src="assets/img/car-type/ac.png" alt="" class="top"/>
                                                            <label class="whiteBg">A/C</label>
                                                        </span> 
                                                        <span>
                                                            <img src="assets/img/car-type/setting.png" alt="" class="top"/>
                                                            <label class="whiteBg">{{selCarQuoteObj.transmission}}</label>
                                                        </span> 
                                                    </div>
                                                    <div class="space">
                                                        <span>
                                                            <img src="assets/img/car-type/cars.png" alt="" class="top"/>
                                                            <label class="whiteBg">{{selCarQuoteObj.cc}} cc</label>
                                                        </span> 
                                                        <span ng-show="(selCarQuoteObj.self_drive == 1)">
                                                            <img src="assets/img/car-type/self.png" alt="" class="top"/>
                                                            <label class="whiteBg">Self Drive</label>
                                                        </span> 
                                                    </div>
                                                    <div class="space">
                                                        <label>
                                                            Car provided by: {{selCarQuoteObj.company_name}}</label>
                                                        <label class="rht">Rating: 
                                                            <span style="color:#a0a09b;">{{selCarQuoteObj.avg_rate}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="borderTop">
                                                    <div class="lft2">
                                                        <h4>Supplier Info:</h4>
                                                        <div class="spaceRht" ng-repeat="(car_supplier_key, car_supplier_val) in selCarQuoteObj.supplier_info[0]">
                                                            <span>{{car_supplier_key}}</span><br/>
                                                            <span>
                                                                <strong class="fnt">{{car_supplier_val}}</strong>
                                                            </span> 
                                                        </div>

                                                    </div>
                                                    <div class="rht2">
                                                        <h4>Included for Free:</h4>
                                                        <ul class="list">
                                                            <li ng-repeat="car_fee_val in selCarQuoteObj.include_free">
                                                                <i class="fa fa-check"></i> {{car_fee_val}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <div class="mobileView1">
                                                    <div class="spaceTopop">
                                                        <div class="strikeTxt" style="font-size:18px;"><strike>{{selectedCurrency}} {{selCarQuoteObj.original_price}}</strike></div>
                                                        <div class="lgFont" style="font-size:18px;">{{selectedCurrency}} {{selCarQuoteObj.selling_price}}</div>
                                                        <!--                                                        <div class="smFont">for 3 days</div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="allBorder" style="background:#f5f4f4;">
                                            <form id="carQuoteFrm" name="carQuoteFrm" novalidate="novalidate" data-ng-submit="sendQuoteToEmail(carQuoteFrm.$valid);">
                                                <label>Email address:</label>
                                                <br/>
                                                <div class="col-md-9 col-sm-9 padNone">
                                                    <input type="email" required class="form-control" ng-model="email_quote.email" 
                                                           placeholder="E-Mail" name="email_quote">

                                                    <div ng-class="{ 'has-error' : carQuoteFrm.email_quote.$invalid && carQuoteFrm.email_quote.$dirty }">
                                                        <p ng-show="(carQuoteFrm.email_quote.$error.required && carQuoteFrm.email_quote.$dirty) || (!email_quote.isFrmInvalid && carQuoteFrm.email_quote.$error.required)" class="cls_input_error">
                                                            Please enter email.
                                                        </p>
                                                        <p ng-show="carQuoteFrm.email_quote.$error.email && carQuoteFrm.email_quote.$dirty" class="cls_input_error">
                                                            Please enter valid email.
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-sm-3">

                                                    <button type="submit" class="btn-next nexttab" 
                                                            style="width:100%; font-size:20px;" ng-show="showActCarQuoteBtn">SEND</button>

                                                    <button type="button" class="btn-next nexttab" 
                                                            style="width:100%; font-size:20px;" ng-hide="showActCarQuoteBtn">
                                                        Please Wait <i class="fa fa-spin fa-spinner"></i>
                                                    </button>
                                                </div>
                                            </form>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <login-modal-view></login-modal-view>
    <signup-modal-view></signup-modal-view>

</div> <!--ENF OF cls_main_div -->
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->