
<!--header start-->
<main-header></main-header>
<!--header end-->
<div class="cls_main_div" ng-controller="carPaymentCtrl" ng-init="initPayment();">

    <div class="cls_search_cars">
        <section id="searchResults" style="overflow: hidden;">
            <div class="blueBg">
                <div class="container">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="tab_bar">
                            <li ><a ui-sref="book_car">Select Your Car</a></li>
                            <li ><a ui-sref="book_car_extra" >Extras</a></li>
                            <li ><a ui-sref="book_car_details">Details</a></li>
                            <li class="active"><a href="javascript:void(0);" atag>Payment</a></li>
                            <li><a href="javascript:void(0);" atag>Confirmation</a></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="tab-content"> 
                    <!-- Select Your Car -->
                    <div class="tab-pane active" id="tab4">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="extras">
                                    <div><img src="assets/img/hyundai-i20.png" alt=""/></div>
                                    <h1 class="h1">{{selCarObj.make}} <span>{{selCarObj.type}} </span></h1>
                                    <hr/>
                                    <div>
                                        <label class="fnt">Pick-up</label>
                                    </div>
                                    <div class="title">{{searchObj.pick_up_loc}}</div>
                                    <div class="time">{{ searchObj.pick_up_datetime | date : 'EEEE, MMMM dd'}} {{ searchObj.pick_up_datetime | date : '@H:mm'}}</div>
                                    <!--                                    <div class="address">5309 Mccoy Road<br/>
                                                                            Orlando, FL 32812</div>-->
                                    <div>
                                        <label class="fnt">Drop-off</label>
                                    </div>

                                    <div class="title" ng-show="(searchObj.show_drop_off)">
                                        {{searchObj.pick_up_loc}}
                                    </div>

                                    <div class="title" ng-hide="(searchObj.show_drop_off)">
                                        {{searchObj.drop_off_loc}}
                                    </div>
                                    <div class="time">
                                        {{ searchObj.drop_off_datetime | date : 'EEEE, MMMM dd'}} {{ searchObj.drop_off_datetime | date : '@H:mm'}}
                                    </div>



                                    <hr/>
                                    <div>
                                        <label class="fnt">Rental Period</label>
                                    </div>
                                    <div class="address">
                                        <!--                                        3 days-->
                                    </div>
                                    <div>
                                        <label class="fnt">Vehicle Features</label>
                                    </div>
                                    <div class="space">
                                        <span>
                                            <img src="assets/img/car-type/users.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.seaters}}-Seater</label>
                                        </span> 
                                        <span ng-show="(selCarObj.aircon == 1)">
                                            <img src="assets/img/car-type/ac.png" alt="" class="top"/>
                                            <label class="whiteBg">A/C</label>
                                        </span> 
                                        <span>
                                            <img src="assets/img/car-type/setting.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.transmission}}</label>
                                        </span> 
                                        <span>
                                            <img src="assets/img/car-type/cars.png" alt="" class="top"/>
                                            <label class="whiteBg">{{selCarObj.cc}} cc</label>
                                        </span> 
                                        <span ng-show="(selCarObj.self_drive == 1)">
                                            <img src="assets/img/car-type/self.png" alt="" class="top"/>
                                            <label class="whiteBg">Self Drive</label>
                                        </span> 
                                    </div>
                                    <hr/>
                                    <div>
                                        <label class="fnt">Minimum Age of Driver</label>
                                    </div>
                                    <div class="address">
                                        <!--                                        21 years-->
                                    </div>
                                    <hr/>
                                    <div>
                                        <label class="fnt">Driver's License Ownership</label>
                                    </div>
                                    <div class="address">
                                        <!--                                        min. 1 year(s)-->
                                    </div>
                                    <hr/>
                                    <div>
                                        <label class="fnt">Conditions</label>
                                    </div>
                                    <ul class="conditions">
                                        <li>Rental information</li>
                                        <li>Terms and Conditions</li>
                                    </ul>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="selectExtras">
                                    <h3 class="h3">Payment Details</h3>
                                    <form id="carPaymentFrm" name="carPaymentFrm" novalidate="novalidate" data-ng-submit="doValidatePayment(carPaymentFrm.$valid)">
                                        <div class="allBorder">

                                            <div class="paymentDetails">

                                                <h4 class="h4">
                                                    <i class="fa fa-info-circle"></i>
                                                    You can easily amend or cancel your booking before 
                                                    {{ searchObj.pick_up_datetime | date : 'EEEE, MMMM dd'}} {{ searchObj.pick_up_datetime | date : '@H:mm'}}
                                                </h4>



                                                <!-- Payment details -->

                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Payment Details</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group"><img src="http://i76.imgup.net/accepted_c22e0.png"></div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="cardName">Name (as appears on card) <span class="error">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="card_holder_name" 
                                                                   placeholder="Name (as appears on card)" ng-model="carPaymentObj.card_holder_name" required />
                                                            <div ng-class="{ 'has-error' : carPaymentFrm.card_holder_name.$invalid && carPaymentFrm.card_holder_name.$dirty }">
                                                                <p ng-show="((carPaymentFrm.card_holder_name.$error.required && carPaymentFrm.card_holder_name.$dirty) || (!carPaymentObj.isFrmInvalid && carPaymentFrm.card_holder_name.$error.required))" class="cls_input_error">
                                                                    Please enter name.
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="card_number">Card Number <span class="error">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="card_number" 
                                                                   placeholder="Valid Card Number" 
                                                                   ng-model="carPaymentObj.card_number" cc-number required />
                                                            <div ng-class="{ 'has-error' : carPaymentFrm.card_number.$invalid && carPaymentFrm.card_number.$dirty }">
                                                                <p ng-show="(carPaymentFrm.card_number.$error.required && (carPaymentFrm.card_number.$dirty || !carPaymentObj.isFrmInvalid))" class="cls_input_error">
                                                                    Please enter card number.
                                                                </p>
                                                                <p ng-show="(carPaymentFrm.card_number.$invalid && !carPaymentFrm.card_number.$error.required)" class="cls_input_error">
                                                                    Please enter valid card number.
                                                                </p>


                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="expMonth">Card Expiration Date <span class="error">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 padLft0">
                                                                <input type="text" class="form-control" name="card_exp_mm" 
                                                                       placeholder="MM" ng-model="carPaymentObj.card_exp_mm" cc-exp-month required />

                                                                <div ng-class="{ 'has-error' : carPaymentFrm.card_exp_mm.$invalid && carPaymentFrm.card_exp_mm.$dirty }">
                                                                    <p ng-show="((carPaymentFrm.card_exp_mm.$error.required && carPaymentFrm.card_exp_mm.$dirty) || (!carPaymentObj.isFrmInvalid && carPaymentFrm.card_exp_mm.$error.required))" class="cls_input_error">
                                                                        Please enter valid month.
                                                                    </p>
                                                                    <p ng-show="(carPaymentFrm.card_exp_mm.$invalid && carPaymentFrm.card_exp_mm.$dirty && !carPaymentFrm.card_exp_mm.$error.required)" class="cls_input_error">
                                                                        Please enter valid month.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 padRft0">
                                                                <input type="text" class="form-control" name="card_exp_yy" 
                                                                       placeholder="YY" ng-model="carPaymentObj.card_exp_yy" cc-exp-year required />
                                                                <div ng-class="{ 'has-error' : carPaymentFrm.card_exp_yy.$invalid && carPaymentFrm.card_exp_yy.$dirty }">
                                                                    <p ng-show="((carPaymentFrm.card_exp_yy.$error.required && carPaymentFrm.card_exp_yy.$dirty) || (!carPaymentObj.isFrmInvalid && carPaymentFrm.card_exp_yy.$error.required))" class="cls_input_error">
                                                                        Please enter valid year.
                                                                    </p>
                                                                    <p ng-show="(carPaymentFrm.card_exp_yy.$invalid && carPaymentFrm.card_exp_yy.$dirty && !carPaymentFrm.card_exp_yy.$error.required)" class="cls_input_error">
                                                                        Please enter valid year.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="cvCode">Security Code(CVC) <span class="error">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="card_cvc" 
                                                                   placeholder="CVC" ng-model="carPaymentObj.card_cvc" 
                                                                   required cc-cvc />

                                                            <div ng-class="{ 'has-error' : carPaymentFrm.card_cvc.$invalid && carPaymentFrm.card_cvc.$dirty }">
                                                                <p ng-show="(carPaymentFrm.card_cvc.$error.required && (carPaymentFrm.card_cvc.$dirty || !carPaymentObj.isFrmInvalid))" class="cls_input_error">
                                                                    Please enter cvc.
                                                                </p>
                                                                <p ng-show="(carPaymentFrm.card_cvc.$invalid && !carPaymentFrm.card_cvc.$error.required)" class="cls_input_error">
                                                                    Please enter valid cvc.
                                                                </p>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="couponCode">Coupon Code</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="coupon_code" placeholder="Coupon Code"
                                                                   ng-model="carPaymentObj.coupon_code"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--                                                <div class="row">
                                                                                                    <div align="center">
                                                                                                        <button class="btn btn-success" type="submit">Start Subscription</button>
                                                                                                    </div>
                                                                                                </div>-->
                                                <div class="row" style="display:none;">
                                                    <div class="col-xs-12">
                                                        <p class="payment-errors"></p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="clearfix">&nbsp;</div>
                                            <div class="bgLight">
                                                <div class="col-md-8 col-sm-8 col-xs-4">
                                                    <label class="fnt1">Total:</label>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-8 alignRight">
                                                    <label class="fnt1">{{selectedCurrency}} {{(selCarObj.selling_price + totalExtraAmount) | currency:" "}}</label>
                                                </div>
                                                <div align="center">
                                                    <button class="btn-next nexttab" id="" type="submit" >BOOK AND PAY NOW</button>
                                                    <br/>
                                                    <small style="color:#419116;">No card fees</small> </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div style="padding-top:5px;">* Prices inclusive statutory taxes. These prices are only valid for online reservations. The total price stated includes all discounts.</div>
                                    <div class="clearfix"></div>
                                    <!-- <div align="center">
                                          <button class="btn-next nexttab" id="" type="button">Continue</button>
                                        </div>--> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Extras -->

                    <!-- Details -->

                    <!-- Payment -->

                    <!-- Confirmation -->

                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="top" align="center"> 
                    <!-- <button class="btn-next" id="prevtab" type="button">Prev</button>
                        <button class="btn-next" id="nexttab" type="button">Next</button>--> 
                </div>
            </div>
        </section>

    </div> <!--ENF OF cls_search_cars -->








    <login-modal-view></login-modal-view>
    <signup-modal-view></signup-modal-view>

</div> <!--ENF OF cls_main_div -->
<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->