<div class="view-tribute-footer-class">
  <footer class="footer cls_footer">
      <div class="wrapper clearfix">
          <div class="disclaimer l">
              <div style="padding-top:7px;">&copy; 2014-2017 PassedOn</div>
          </div>
          <nav class="r">
              <ul>
                  <li><a [routerLink]="['/home']">PassedOn.com</a>
                  </li>
                  <li><a [routerLink]="['/terms']">Terms</a>
                  </li>
                  <li><a [routerLink]="['/support']">Support</a>
                  </li>
              </ul>
          </nav>
      </div>
  </footer>
</div>