
<div class="banner-container ng-scope">
    <div class="banner">
     <div class="banner-desc">
      <h1>Support</h1>
     </div>
     <img src="./assets/img/generic-banner-image.jpg" alt=""> </div>
   </div>
   <div class="container">
    <div class="about main wrapper clearfix">
     <div class="clearfix"><!-- clear --></div>
     <div class="team-container clearfix">
      <div class="">
       <div class="">
        <p class="position"> </p>
        <h4> At PassedOn.com we believe that <strong>Every life has a story</strong>, and, that those stories need to be both told and preserved. </h4>
        <h4> PassedOn.com is Australia and the world’s first integrated social media
         website offering tributes to those who have died by providing a platform for the remembrance of loved ones. </h4>
        <h4> PassedOn.com is the online source for current local and national obituary news
         and a supportive community where friends and family can come together during 
         times of loss and grieving to honour the memories of their loved ones with lasting 
         personal tributes. </h4>
        <h4> PassedOn provides a mechanism for the remembrance of those that have passed,
         by those that remain for all future generations to enjoy. </h4>
        <div class="row text-center"> “<strong>Every life has a story</strong>” </div>
        <h4></h4>
        <h4> Nick Milillo and Peter Gibson are founders and directors of PassedOn. 
         Our mission is to ensure your memories are treated with the upmost respect 
         by representing them in a manner that honours the deceased. 
         By providing a platform which is pleasing on the eye, easy to use, 
         a place you want to return too, we hope that we have achieved this on your behalf.
         We hope we have achieved this by also ensuring your Tribute is not morbid and
         Advertisement free. </h4>
       </div>
      </div>
     </div>
    </div>
   </div>