<div class="header-container dashboard">
    <header class="wrapper clearfix"> <a id="showLeftPush"><img src="./assets/img/hamburger.png" alt=""/></a>
     <nav class="navbar navbar-toggleable-md navbar-inverse"> 
      <!-- fixed-top-->
      <div class=""> 
       <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>-->
       <h1 class="logo cls_logo" style="display:none"> <a class="navbar-brand" href="#"><img src="./assets/img/passed-on-logo.svg" alt="" /></a></h1>
       <div>
        <ul>
       
         
         <li class="cls-logged-in"> <img src="./assets/img/profile-placeholder.jpg" class="l post-profile-image">
          <div class=""> <span style="cursor: pointer">Hello, {{name}} <!--<i class="fa fa-chevron-down"></i>--></span>
           <div class="drop-down">
            <ul>
             <li><a [routerLink]="['/profile']"><i class="fa fa-user"></i> Edit Profile</a> </li>
             <li><a href="javascript:void(0);" (click)="logout.logout();"><i class="fa fa-power-off"></i> Log Out</a>
            </ul>
           </div>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </nav>
    </header>
   </div>