<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="main-content dashboard-top-margin">
  <div class="content-container">
    <div class="container">
      <div class="row">

        <ul class="nav nav-tabs" id="myTab">
          <li [ngClass]="{active: currentTab==='my_tribute'}" (click)="onTabChange('my_tribute');">
            <a style="cursor: pointer;">My Tributes</a>
          </li>
          <li [ngClass]="{'active': currentTab==='transferred_tribute'}" (click)="onTabChange('transferred_tribute');">
            <a style="cursor: pointer;">Transferred Tributes </a>
          </li>
        </ul>


        <div class="tab-content">
          <div class="col-md-12">

            <div class="page-intro">
              <h2>
                <i class="fa fa-eye"></i> Your Tributes Page</h2>
              <p>When you create a new tribute it will be stored here ready for you to view and/or edit</p>
            </div>
          </div>
          <div class="col-md-12">
            <!-- <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="getTributeList();">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
           </form> -->
          </div>
          <div class="tab-pane active">
            <div class=" ">
              <div class="container ">
                <div class="row">

                  <div class="col-md-6" *ngFor="let item of tributeList;">
                    <div class="box-inner">
                      <!--<p class="heading"><span class="icon-user"></span>greed</p>-->
                      <p class="draft-heading">
                        <span class="fa fa-pencil"></span> {{item.first_name}} {{item.last_name}} </p>
                      <img *ngIf="item.theme_id==1" src="./assets/img/theme-one-thumb.jpg" class="scale comment-object" alt="" />
                      <img *ngIf="item.theme_id!=1" src="./assets/img/theme-two-thumb.jpg" class="scale comment-object" alt="" />
                      <div class="details clearfix">
                        <a class="cta-option l" [routerLink]="['/tribute/update',item.id]">
                          <i class="fa fa-pencil"></i> Edit</a>
                        <a class="cta-option l" href="javascript:void(0);" data-target="#product-modal" mwlConfirmationPopover [title]="title" [message]="message"
                          placement="top" (confirm)="confirmPopup(1,item)" (cancel)="confirmPopup(0,item)">
                          <i class="fa fa-trash"></i> Delete</a>

                        <a *ngIf="!is_transfer" class="cta-option r" href="javascript:void(0);" (click)="openTransferTribute(model_transfer_tribute,item)">
                          <strong>Transfer</strong>
                        </a>
                      </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                  </div>



                </div>

                <div class="row">
                  <div class="full-width-info" *ngIf="(tributeList.length==0 && inProgressCall==false)">
                    No data found...
                  </div>
                  <div class="full-width-info" *ngIf="(inProgressCall==true)">
                    Please wait...
                  </div>
                </div>

                <!-- <button
                class="btn btn-default"
                mwlConfirmationPopover
                [title]="title"
                [message]="message"
                placement="top"
                (confirm)="confirmPopup(1)"
                (cancel)="confirmPopup(0)">
                Click me!
              </button> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #model_transfer_tribute let-c="close" let-d="dismiss">
  <div class="clearfix popup-box">

    <div class="">
      <div class="modal-header">
        <h4 class="modal-title">Transfer Tribute to </h4>
        <button type="button" class="close" (click)="c('Close click')">
          <span aria-hidden="true">
            <img src="./assets/img/close-btn.png" alt="" />
          </span>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <div class="modal-body">
        <form name="transferTributeFrm" id="transferTributeFrm" method="post" novalidate (ngSubmit)="onTransferTribute(transferTributeFrm)" #transferTributeFrm="ngForm">
          <div class="clearfix">
            <div>
              <label for="first-name">First Name
                <span class="required_field">*</span>
              </label>
              <input name="first_name" type="text" id="first_name" [(ngModel)]="transferTribute.first_name" placeholder="First Name" #first_name="ngModel"
                required>
              <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)">
                <p class="error-block" *ngIf="first_name.errors.required">Please enter first name</p>
              </div>
            </div>
            <div>
              <label for="last-name">Last Name
                <span class="required_field">*</span>
              </label>
              <input name="last_name" type="text" id="last_name" [(ngModel)]="transferTribute.last_name" placeholder="Last Name" #last_name="ngModel"
                required>
              <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                <p class="error-block" *ngIf="last_name.errors.required">Please enter last name</p>
              </div>
            </div>
            <div>
              <label for="client">Client Contact #</label>
              <input name="phone_number" type="text" id="phone_number" [(ngModel)]="transferTribute.phone_number" placeholder="Client Contact #"
                #phone_number="ngModel">

            </div>
            <div>
              <label for="email">Email
                <span class="required_field">*</span>
              </label>
              <input name="email" type="email" id="email" [(ngModel)]="transferTribute.email" placeholder="Email Address" #email="ngModel"
                required email>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p class="error-block" *ngIf="email.errors.required">Please enter email address</p>
                <p class="error-block" *ngIf="!email.errors.required && email.errors.email">Please enter valid email address</p>
              </div>
            </div>
            <div class="">
              <button class="button-sml button l" type="submit" id="transfer-tribute-button" [disabled]="!transferTributeFrm.valid">Transfer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
        </div> -->


</ng-template>