<!-- <div class="side-panel cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1 side_panel">
 <aside>
  <div class="logo"> <a><img src="./assets/img/passed-on-logo.svg" alt="PassedOn logo" /> </a> </div>
  <h2><a href="javascript:void(0);"><i class="fa fa-gauge"></i>Dashboard</a></h2>
  <nav>
   <p class="title"><a><i class="fa fa-eye"></i>Your Tributes</a> </p>
   <ul>
    <li><a href="javascript:void(0);"><strong>View</strong></a> </li>
    <li><a href="javascript:void(0);"><strong>Create</strong></a> </li>
   </ul>
  </nav>
  <nav>
   <p class="title"><a><i class="fa fa-user" ></i>My Account</a> </p>
   <ul>
    <li><a href="javascript:void(0);"><strong>Profile</strong></a> </li>
   </ul>
  </nav>
  
  
  <form action="" id="search-tribute-form" class="clearfix">
   <label for="tribute-search"><i class="fa fa-search"></i> &nbsp;Tribute Finder</label>
   <input type="text" id="tribute-search" name="tribute-search" placeholder="Type name here" />
   <a style="cursor:pointer; margin-top:10px;">advanced search</a>
   <input type="submit" class="button-sml button r" value="Search" style="margin-top:10px;" />
  </form>
 </aside>
</div> -->

<!-- Right Side -->
<div class="main-content dashboard-top-margin">
 <div class="content-container clearfix"> 
 <div class="clearfix">&nbsp;</div>
  <!-- Dashboard ST -->
  <div class="page-intro">
   <h2><i class="icon-home-1"></i>The Dashboard</h2>
   <p><strong>Welcome to PassedOn</strong> </p>
   <p>Create your first Tribute in 2 easy steps</p>
  </div>
  <div id="container">
   <div class="text-center">
    <iframe width="600" height="360" src="https://media.w3.org/2010/05/sintel/trailer.mp4" frameborder="0" allowfullscreen></iframe>
   </div>
   <div class="text-center" style="margin-top:10px;"><a class="button button-sml" href="javascript:void(0);">How PassedOn Works</a><strong></strong> </div>
  </div>
  

 </div>
</div>

