
<!--header start-->
<main-header></main-header>
<!--header end-->
<style type="text/css">
    footer {
        position: absolute;
    }

    section {
        min-height: 840px;
    }

</style>
<section id="reservation" ng-controller="dashboardCtrl" ng-init="initDashboard();">
    <div class="container">
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
                <div class="col-md-2 col-sm-3 bhoechie-tab-menu">
                    <div class="list-group"> 
                        <a href="javascript:void(0);"  class="list-group-item active text-center">
                            <h4 class="fa fa-dashboard"></h4>
                            <br/>
                            Dashboard 
                        </a> 
                        <a ui-sref="manage_reservation"  class="list-group-item text-center">
                            <h4 class="fa fa-edit"></h4>
                            <br/>
                            Reservations </a> 
                        <!--                        <a href="javascript:void(0);" atag class="list-group-item text-center">
                                                    <h4 class="fa fa-user"></h4>
                                                    <br/>
                                                    Profile 
                                                </a> 
                                                <a href="#" atag class="list-group-item text-center">
                                                    <h4 class="fa fa-users"></h4>
                                                    <br/>
                                                    Account 
                                                </a> 
                                                <a href="#" atag class="list-group-item text-center">
                                                    <h4 class="fa fa-thumbs-up"></h4>
                                                    <br/>
                                                    Points & Rewards 
                                                </a> -->
                    </div>
                </div>
                <div class="col-md-10 col-sm-9 bhoechie-tab"> 
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <h1 class="h1">Dashboard</h1>
                        <h2 class="h2">Dashboard</h2>





                    </div>
                    <!-- train section -->

                </div>
            </div>
        </div>
    </div>
</section>



<!--footer start-->
<main-footer-book></main-footer-book>
<!--footer end-->
 <toaster-container></toaster-container>